:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #232835;
    --link-font-color: rgb(137, 137, 141);
    /* --bg-color: rgba(75,207,250,1); */
    --bg-color: #fab883;
    --button-color: rgb(41, 41, 43);
    --button-color: #232835;
    --button-color-hover: #39435c;
    --button-color-text: white;
    /* --heading-color: #292922; */

}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
[data-mode="dark"] {
    --font-color: #fab883;
    --link-font-color:#e1e1ff;
    --bg-color: #232835;
    --heading-color: #818cab;
    --button-color: #fab883;
    --button-color-hover: #faa763;
    --button-color-text: black;
}

body{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    background-color: var(--bg-color);
    transition: background 0.4s;
    color: var(--font-color);
}




a{
    text-decoration: none;
    color: var(--font-color);
}

/*Start of Navbar and its content*/
.top-nav{
    width: 100%; /*Use 100% of the body width*/
    position: fixed; /*Position of the nav bar will be fixed*/
    height: 3rem; /*Height of the nav bar*/
    background-color: rgb(15, 15, 15);
    /* background: linear-gradient( 111.1deg,  rgba(0,40,70,1) -4.8%, rgb(1, 66, 116) 82.7%, rgb(4, 113, 196) 97.2% ); */
    overflow: hidden;
    /* align-items: center; */
    z-index: 2;
    /* border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem; */
}

.nav-list{
    list-style: none;
    display: flex;
    height: 100%; /*Use 100% of the height of the nav bar*/
    /* width: 100%; */
    justify-content: space-evenly; /*Align the flex items at the evenly of the container*/
    /* align-items: center; */
}

/*Navbar links properties*/
.nav-link{    
    /* font-size: 100%; */
    font-family: 'Saira', sans-serif;
    text-decoration: none;
    filter: grayscale(100%) opacity(5);
    /* text-decoration-color: white; */
}


/*Navbar link color*/
a.nav-link{
    color:var( --link-font-color);
}


/*when the link in the nav bar is clicked on*/
.nav-link:active{
    /* display: flex;
    filter: grayscale(0%) opacity(1); */
    color: white;
}

/*properties for the social icons*/
.socials i{
    padding: 6px;
    margin: 2px, 1px;
    font-size: 2rem;
    position: relative;

}

/*properties for the github icon*/
.fa-github{
    overflow: hidden;
    background-size: 100% 200%; 
    background-image: linear-gradient(to top,rgb(69, 38, 247) 5%,rgb(102, 187, 212), white 50%);
    /* color: #fff; */
    -webkit-background-clip: text;      /*Makes it so that it only colors the icon and not the container*/
    -webkit-text-fill-color: transparent;
    transition: 
      background-position .3s ease-in-out, 
      color .2s ease-in-out;
}

/*properties for the github icon when hovered over, make color transition*/
.fa-github:hover, .fa-github:focus{
    /* -webkit-background-clip: text;  */ /*already have it above so could be removed*/
    /* -webkit-text-fill-color: transparent; */
    background-position: 0 100%;
}

/* Switch properites*/
.switch{
    position: fixed;
    width: 60px;
    height: 24px;
    display: flex;
    top: 10px;
    right: 0.4rem;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/*Set up slider box*/
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(146, 215, 243);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;    
}


/*Set up slider circle that is inside the box*/
.slider:before {
    position: absolute;
    content: ""; /*Creates some conetent so we can have a cirlce*/
    height: 20px;
    width: 20px;
    left: 3px;
    top: 2px;
    bottom: 4px;
    background-color: rgb(245, 189, 35);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px; /*Set the raidus of the content to be 1 so we get something like a circle*/
  }

/*Make the silder circle move when clicked on the slider*/
input:checked +.slider:before{
    -webkit-transform: translateX(34px);
    -ms-transform: translateX(34px);
    transform: translateX(34px);
    background-color: rgb(255, 255, 255);
}

/*Set background of the slider after being clicked*/
input:checked +.slider{
    background-color: #454647;
}
/*End of nav bar contents*/

.title{
    padding-top: 50px;
    text-align: center;
    font-size: 50px;    
}

.container{
    padding: 0.7rem 3rem;
    width: 100%;

}
form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* justify-content: space-evenly; */
    font-family: 'Saira', sans-serif;
    font-size: 16px;

}




.submit-btn {
    cursor: pointer;
    font-family: 'Saira', sans-serif;
    padding: 0.7rem 3rem;
    font-size: 16px;
    /* display: inline-block; */
    display: flex;
    background-color: var(--button-color);
    border-radius: 1rem;
    border: none;
    color:var(--button-color-text);


}
.submit-btn:hover, .submit-btn:focus {
    background-color: var(--button-color-hover);
}




.upload-btn {
    cursor: pointer;
    padding: 0.7rem 3rem;
    display: inline-block;
    background-color: var(--button-color);
    border-radius: 1rem;
    border: none;
    color:var(--button-color-text);

}
.upload-btn:hover, .upload-btn:focus {
    background-color: var(--button-color-hover);
}
label.upload-btn input[type=file]{
    top: -100rem;
    position: absolute;
}


/* #upload {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;

} */

/* label.input-label input[type=file]{
    position:absolute;
    top: -1000px;
} */

/* label.input-label +span{

    
} */
/*Mobile view*/
@media only screen and (max-width:800px){

    /*Nav menu*/
    .nav-menu{
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between; /*Space between each bar*/
        cursor: pointer; /*When the cursor hovers over it will be a pointer*/
        z-index: 1500;
        /* transition: transform 700ms ease-out; */
        flex-flow: column;
        
        top: 0.5rem;
        left: 0.8rem;
        width: 2.4rem;
        height: 2rem; /* Height of each bar similar as the justify-content*/
        /* margin:0; */
    }

    /* some properties for the 3 bar lines*/
    .bar{ 
        background: linear-gradient(to left, rgb(213, 214, 221), rgb(168, 171, 173));
        width: 100%; /*Use 100% of the width set in .nav-menu*/
        height: 4px;
        /* border-radius: .8rem; */
    }

    .nav-list{
        top:-100%;
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: rgb(15, 15, 15);
        pointer-events: none;
        flex-direction: column;
        transition: all 700ms cubic-bezier(0, 1, 1, 1);
        align-items: center;

    }

    .nav-list.open{
        top: 0;
        transition: all 700ms cubic-bezier(0, 1, 1, 1);
        pointer-events: all;
        /* font-size: 2rem; */
    }

    .nav-link:hover{
        border-bottom: .1em solid rgb(194, 183, 183);
        transition: all 500ms cubic-bezier(0, 1, 1, 1);
    }
    /* .top-nav{
        transition:all 700ms cubic-bezier(1,0,0,1);
    }
    .top-nav.open{
        height: 100%;
        transition:all 700ms cubic-bezier(1,0,0,1);
    } */
}


@media only screen and (min-width:801px){

    .nav-link{    
        /* align-items: center; */
        padding: 0.7rem 3rem;
        display: flex;
        flex-direction: row;
    }

    /*Nav list formating
    basically make it use
    all of the height of the nav bar
    and make all the items in the lsit spaced evenly
    */
    /* .nav-list{
        position: absolute;
        margin: 0;
        justify-content: space-evenly; 
        height: 100%;
        display: flex;;
      
    } */
    /*hovering over a link in the navbar*/
    .nav-link:hover{
        /* display: flex;
        filter: grayscale(0%) opacity(1); */
        background: linear-gradient(to top,  rgb(20, 20, 20), rgb(39, 39, 39));
    }

}