<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="stylesheet" href="../static/font-awesome.min.css">
        <link rel="stylesheet" href="../static/font-awesome.css">
        <script src="https://kit.fontawesome.com/75ff20203d.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Saira:wght@300;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/style.css">
        <!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/style.css') }}"> -->
        <!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/font-awesome.min.css') }}"> -->
        <!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/font-awesome.css') }}"> -->
        <title>Reverse Geocoding</title>
    </head>


<body>
    <div class="nav-menu"> 
        <div class="bar top"></div> <!--top bar of menu-->
        <div class="bar"></div>     <!--mid bar of menu-->
        <div class="bar bot"></div> <!--bottom bar of menu-->
    </div>
    <nav class="top-nav">
        <ul class="nav-list">

            <li class="nav-item">
                <a href="#Home" class="nav-link">Home</a>
            </li>

            <li class="nav-item">
                <a href="#About" class="nav-link">About</a>
            </li>

            <li class="nav-item">
                <a href="#Contact" class="nav-link">Contact</a>
            </li>
            <li class="nav-social"> 
                <div class="socials">
                    <a href="https://github.com/Abduarraheem/Reverse-Geocode" class="icon-link" target="_blank">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                    <!-- <a href="https://www.linkedin.com/" class="icon-link" target="_blank">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a> -->
                </div>
            </li>

        </ul>
        <!-- <li class="nav-item"> -->
            <label class="switch">
                <input type="checkbox" id="checkbox" />
                <span class="slider"></span>
            </label>
        <!-- </li> -->
        <!-- <section>
            <p>About</p>
        </section> -->
    </nav>


    <h1 class="title">Reverse Geocoding Base</h1>
    

        <div class="container">
            <form method="POST" action="" enctype="multipart/form-data">
                <label class="upload-btn">
                    <input type="file" name="gpx_file" required>
                    Upload GPX File
                </label>
                <input class="submit-btn" type="submit" name="Submit" value="Submit">
            </form>
        </div>
        
        
        <br>
        <div style="height:360px;width:360px;border:1px solid #454647;font:16px/26px;overflow:auto;">
            {% for item in instructions %}
            <div>
            {{item}}
            </div>
            {% endfor %}
        </div>
        
        
        <!-- <table>
            <thead>
            <tr>
                <th> Instruction:  </th>
            </tr>
            </thead>
            
            <tbody>
            {% for item in instructions %}
            <tr>
            <td>{{item}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table> -->
    <output> <!-- Comment out this if any problems arrise with the tbale-->
    </output>
    
    <script src="../static/main.js"></script>
</body>

</html>