<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="static/style.css">
        <title>Reverse Geocoding</title>
    </head>

<body>
    <h1>Reverse Geocoding base</h1>
    <h2>Upload GPX file here.</h2>

    <!-- action could is where we should send the file  -->
    <form method="POST" action="" enctype="multipart/form-data">
        <p><input type="file" name="gpx_file" required></p>
        <p><input type="submit" name="Submit" value="Submit"></p>
    </form>
</body>

</html>