<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="stylesheet" href="../static/font-awesome.min.css">
        <link rel="stylesheet" href="../static/font-awesome.css">
        <script src="https://kit.fontawesome.com/75ff20203d.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Saira:wght@300;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/style.css">
        <!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/style.css') }}"> -->
        <!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/font-awesome.min.css') }}"> -->
        <!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/font-awesome.css') }}"> -->
        <title>Reverse Geocoding</title>
    </head>


<body>
    <div class="nav-menu"> 
        <div class="bar top"></div> <!--top bar of menu-->
        <div class="bar"></div>     <!--mid bar of menu-->
        <div class="bar bot"></div> <!--bottom bar of menu-->
    </div>
    <nav class="top-nav">
        <ul class="nav-list">

            <li class="nav-item">
                <a href="#Home" class="nav-link">Home</a>
            </li>

            <li class="nav-item">
                <a href="#About" class="nav-link">About</a>
            </li>

            <li class="nav-item">
                <a href="#Contact" class="nav-link">Contact</a>
            </li>
            <li class="nav-social"> 
                <div class="socials">
                    <a href="https://github.com/Abduarraheem/Reverse-Geocode" class="icon-link" target="_blank">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                    <!-- <a href="https://www.linkedin.com/" class="icon-link" target="_blank">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a> -->
                </div>
            </li>

        </ul>
        <!-- <li class="nav-item"> -->
            <label class="switch">
                <input type="checkbox" id="checkbox" />
                <span class="slider"></span>
            </label>
        <!-- </li> -->
    </nav>


    <h1 class="title" id="Home">Reverse Geocoding Base</h1>
    

        <div class="btn-container">
            <form method="POST" action="" enctype="multipart/form-data">
                <label class="btn" id="upload-label">
                    <input type="file" name="gpx_file" id="originalBtn" required>
                    Upload GPX File:
                    <span id="file-name">No file chosen</span>
                </label>
                <input class="btn" type="submit" name="Submit" value="Submit">
            </form>
        </div>
        

        <div class="output-box">
            <div class="wrapper">
                {% for item in instructions %}
                <div>
                {{"%s %.2f %s" % (item[0],item[1],item[2])}}
                </div>
                {% endfor %}
            </div>
        </div>
        <input class="btn" type="Submit" name="Download" value="Download">

        <section  id="About">
            <h1 class="header-section">About</h1>
            <div class="about-text">
                Hikers, runners, and cyclists often record their activites using a phone, fitness watch, or dedicated GPS device. They may upload data from their devices to a system like Strava, MapMyRun, or RideWithGPS, which typically provide analysis, map display, and optional social media sharing.
                Existing services like Strava provide a variety of analyses and record keeping, but they typically do not provide a fully automated way to extract turn-by-turn directions from a recorded activity. For hikers and runners and some cyclists who travel off-road, this might be very difficult … there may be no suitable database from which to extract suitable cues. For road cyclists, however, it should be possible to extract turn-by-turn directions (a “cue sheet”) from a recording.
                That is what our system does. The input will be a gpx or xml file which are records consisting of a sequence of (latitude, longitude) pairs, possibly with other information. The output is be a list of turn-by-turn directions.
                <br> <br>
                <h3>Geocoding</h3>
                <br>
                Geocoding means translating place names or descriptions into geographic coordinates, usually latitude and longitude. If you have used a web mapping service, you have probably used geocoding to find a destination or place of interest.
                <br> <br>
                <h3>Reverse Geocoding</h3>
                <br>
                Geocoding translates addresses into coordinates. Reverse geocoding, as you might guess, translates coordinates to addresses. This involves some very cool data structures and algorithms called spatial indexes, but you don’t need to understand spatial indexes to use a reverse geocoding service.
                <br> <br>
                cited by Prof. Michal's repo at https://uo-cis422.github.io/chapters/projects/reverse/reverse.html
            </div>
        
        </section>

        <section  id="Contact">
            <h1 class="header-section">Contact</h1>
                <ul class = "contact-list">
                    <li class="contact-info">
                        Juno Mayer: 
                        <a href="https://github.com/Saybrr" class="contact-icon" target="_blank">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>

                        <a href="https://www.linkedin.com/in/juno-mayer-b50a441a2/" class="contact-icon" target="_blank">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                        <br>
                        <a class="email-link" href="mailto:gjvmayer@gmail.com"> gjvmayer@gmail.com</a>
                    </li>

                    <li class="contact-info">
                        Alex Marozick: 

                        <a href="https://github.com/alexmarozick" class="contact-icon" target="_blank">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>

                        <a href="https://www.linkedin.com/in/alex-marozick-290b85195/" class="contact-icon" target="_blank">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>

                        <br>
                        <a class="email-link" href="mailto:alexmarozick@gmail.com">alexmarozick@gmail.com</a>
                    </li>

                    <li class="contact-info">
                        Abduarraheem Elfandi:  

                        <a href="https://github.com/Abduarraheem" class="contact-icon" target="_blank">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                        <br>
                        <a class="email-link" href="mailto:elfandi.a23@gmail.com">elfandi.a23@gmail.com</a>
                    </li>
                </ul>
        </section>
      
    <script src="../static/main.js"></script>
    <br><br><br><br>
</body>

</html>